/*.colorfull {
  color:red;
}

p {
  color: transparent;
  border: 1px solid black;
}

.buttons {
  display: flex;
  justify-content: center;
}*/

*{
  border: 1px solid black;
}

.field {
  display: inline-block;
  border: 1px solid black;
  width: 15px;
  height: 15px;
  margin: 5px;
}

.field:nth-of-type(13) {
  border: 2px solid red;
  font-weight: 800;
}

.field:nth-of-type(20) {
  border: 2px solid yellow;
  font-weight: 800;
}

#board {
  display: flex;
  justify-content: center;
}

#startField {
  border: 1px dashed black;
  background-color: lightgreen;
}

#cube {
  display: block;
  margin: 30px auto;
}

.number {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  font-size: 0.8em;
}

#outputid {
  text-align: center;
}
