/*.colorfull {
  color:red;
}

p {
  color: transparent;
  border: 1px solid black;
}

.buttons {
  display: flex;
  justify-content: center;
}*/

#game_title {
  text-align: center;
}

.field {
  border: 1px solid black;
}

.row:nth-of-type(2)>.field:first-child {
  border: 2px solid red;
  font-weight: 800;
}

.row:nth-of-type(2)>.field:nth-child(8) {
  border: 2px solid yellow;
  font-weight: 800;
}

.row {
  width: 80%;
  margin: auto;
}

#startField {
  border: 1px dashed black;
  background-color: lightgreen;
}

#cube {
  display: block;
  margin: 30px auto;
}

.number, .field {
  padding: 0;
  margin: 0;
}

.number {
  text-align: center;
}

#outputid {
  height: 60px;
  text-align: center;
  margin-top: 15px;
}
